<div class="w-full bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
    <div class="flex justify-center w-full text-[50px] font-bold mb-12 gap-2 pt-4 font-extrabold text-2xl md:text-3xl dark:text-white">
        Ajouter une nouvelle Seance 
    </div>
    <form class="flex-col space-y-4">
        <!-- Session Name -->
        <div class="flex flex-col space-y-2">
            <label class="block font-medium text-gray-700">Nom de la session</label>
            <input 
                type="text" 
                class="shadow-sm block w-full py-2 sm:text-sm rounded-md text-gray-800 disabled:bg-gray-200 sm:text-sm border-gray-300 focus:ring-primary-500 focus:border-primary-500 placeholder-gray-400 focus:outline-none" 
                name="sessionName" 
                required="" 
                placeholder="Nom de la session">
        </div>

        <!-- Session Coach -->
        <div class="flex flex-col space-y-2">
            <label class="block font-medium text-gray-700">Coach de la session</label>
            <input 
                type="text" 
                class="shadow-sm block w-full py-2 sm:text-sm rounded-md text-gray-800 disabled:bg-gray-200 sm:text-sm border-gray-300 focus:ring-primary-500 focus:border-primary-500 placeholder-gray-400 focus:outline-none" 
                name="sessionCoach" 
                required="" 
                placeholder="Coach de la session">
        </div>

        <!-- Coach Telephone -->
        <div class="flex flex-col space-y-2">
            <label class="block font-medium text-gray-700">Téléphone du coach</label>
            <input 
                type="tel" 
                class="shadow-sm block w-full py-2 sm:text-sm rounded-md text-gray-800 disabled:bg-gray-200 sm:text-sm border-gray-300 focus:ring-primary-500 focus:border-primary-500 placeholder-gray-400 focus:outline-none" 
                name="coachTelephone" 
                required="" 
                placeholder="Téléphone du coach">
        </div>

        <!-- Coach Age -->
        <div class="flex flex-col space-y-2">
            <label class="block font-medium text-gray-700">Âge du coach</label>
            <input 
                type="number" 
                class="shadow-sm block w-full py-2 sm:text-sm rounded-md text-gray-800 disabled:bg-gray-200 sm:text-sm border-gray-300 focus:ring-primary-500 focus:border-primary-500 placeholder-gray-400 focus:outline-none" 
                name="coachAge" 
                required="" 
                placeholder="Âge du coach">
        </div>

        <!-- Session Date -->

        <!-- Add Users -->
        <div class="flex flex-col space-y-2">
            <label class="block font-medium text-gray-700">Ajouter des utilisateurs</label>
            <mat-select [formControl]="toppings" multiple>
                <mat-select-trigger>
                  {{toppings.value?.[0] || ''}}
                  @if ((toppings.value?.length || 0) > 1) {
                    <span class="example-additional-selection">
                      (+{{(toppings.value?.length || 0) - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})
                    </span>
                  }
                </mat-select-trigger>
                @for (topping of toppingList; track topping) {
              <mat-option [value]="topping">{{topping}}</mat-option>
            }
              </mat-select>
        </div>

        <!-- Submit Button -->
        <div class="flex justify-end">
            <button 
                class="inline-flex items-center justify-center px-4 py-2.5 border border-transparent text-sm font-medium rounded-md shadow-sm focus:outline-none ring-2 ring-offset-2 ring-transparent ring-offset-transparent disabled:bg-gray-400 appearance-none text-white bg-indigo-600 hover:bg-indigo-700 focus:ring-indigo-500 focus:ring-offset-white w-full" 
                type="submit" 
                name="_action" 
                value="create">
                <div class="relative">
                    <div>Ajouter</div>
                    <div class="hidden absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
                        <svg class="animate-spin h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                            <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                        </svg>
                    </div>
                </div>
            </button>
        </div>
    </form>
</div>
